<div class="row">
  <div class="col-md-6 col-md-offset-3">
      <div class="well">
          <div class="center-block">
              <div *ngFor="let ticket of tickets" class="form-group">
                <label for="Ticket">Ticket ID</label>
                <input type="text" class="form-control" [(ngModel)]="ticket.name" (ngModelChange)="saveTicket(ticket)"/>
              </div>
              <button (click)="createEmptyTicket()"> Add Another </button>
              <button (click)="submit()"> Submit </button>
          </div>
      </div>
  </div>
</div>