<!--<div class="containter-fluid">-->
<div class="row equal">
  <div class="element col s8 offset-s1">
      <div class="row ">
         <div class="card-panel">
          <div class="center-block">
              <div class="row">
                  <strong> Let the voting Commence! </strong>
                    <button [style.display]="isAdmin?'inherit':'none'" type="button" class="btn btn-default pull-right" (click)="endRound($event)"> Done Voting</button>
              </div>
              <span *ngIf="!votingActive">
                  <span *ngFor="let vote of currentVotes | async">
                      {{vote.username}}
                    <card-item [value]="vote.vote" (click)="selectCard(cardValue);"></card-item>
                  </span>
                </span>
              <span *ngIf="votingActive">
                  <span *ngFor="let vote of currentVotes | async">
                      {{vote.username}}
                    <card-item [value]="" (click)="selectCard(cardValue);"></card-item>
                  </span>
                </span>
          </div>
        </div>
      </div>
      <div class="row card-panel">
          <card-hand (^selectedCardChanged)="onCardSelect($event);" [username]="username" [roomId]="roomId"></card-hand>
      </div>
  </div>
  <!--<div class="element col s2 card-panel">
      <h3> Technically Usernames should go here! :D </h3>
  </div>-->
</div>
<!--</div>-->