<div class="containter-fluid">
<div class="row equal">
  <div class="element col-md-8 col-md-offset-1">
      <div class="row ">
         <div class="well">
          <div class="center-block">
              <h3> Let the voting Commence! </h3>
              <span>
                  <span *ngFor="let vote of currentVotes | async">
                      {{vote.username}}
                    <card-item [value]="vote.vote" (click)="selectCard(cardValue);"></card-item>
                    <!--<span class="usernameCard"> {{ vote.username }}  </span>-->
                  </span>
                </span>
          </div>
        </div>
      </div>
      <div class="row well">
          <card-hand (^selectedCardChanged)="onCardSelect($event);" [username]="username" [roomId]="roomId"></card-hand>
      </div>
  </div>
  <div class="element col-md-2 well">
      
  </div>
</div>
</div>